body {
   margin: auto;
    background-image: url("img/fon5.jpg");
    background-size: 100%;
    background-attachment: fixed;
    width: 65%;
}
.jop {
    display: flex;
    justify-content: stretch;
    background-color: blue;
    position: fixed;
}
.body2 {
    background-color: antiquewhite;
    padding-left: 5%;
    padding-right: 5%;
}
.upeR {
    position: fixed;
    right: 10px;
    top: 10px;
}
.foto_up {
    height: 50px;
    width: 50px;
}
.py {
    display: flex;
    justify-content: center;
    align-items: center;
}
.py_f {
    width: 350px;
    height: 350px;
}
.up {
    display: flex;
    justify-content: space-around;
    font-family: "Book Antiqua";
    font-size: 30px;
}
h1 {
    font-family: "Book Antiqua";
    text-decoration: underline;
    color: darkgreen;
}
.foto {
    width: 330px;
    height: 350px;
    border-radius: 50%
}
.foto1 {
    display: flex;
    justify-content: center;
}
.iam {
    font-size: 20px;
    font-family: "Book Antiqua";
    text-align: justify;
    padding-left: 70px;
    padding-right: 70px;
    line-height: 150%;
}
.bntu1 {
    display: flex;
    justify-content: flex-start;
}
.bntu2 {
    width: 120px;
    height: 120px;
}

.sert {
    height: 250px;
    width: 400px;
}
.sert2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sert_text {
    font-family: "Book Antiqua";
    padding-left: 70px;
    font-size: 30px;
}
.obr {
    padding-left: 40px;
    font-family: "Book Antiqua";
    color: brown;
}
.work {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.jobs {
    color: darkblue;
}
.iam_work {
    font-size: 20px;
    font-family: "Book Antiqua";
    text-align: justify;
    padding-left: 70px;
    padding-right: 70px;
    line-height: 150%;
}
.tel_foto {
    width: 50px;
    height: 50px;
}
.tel {
    display: flex;
    align-items: center;
    padding-left: 70px;
    font-family: "Book Antiqua";
    font-size: 20px;
}
span {
    padding-left: 25px;
}
a:link {
    color: #0738b6;
}
a:visited {
    color: #8c1616;
}
a:hover {
    color: #2bb026;
}
a:active {
    color: blueviolet;
}

@media (min-width: 600px ) and (max-width: 1400px)
{body {
    margin: auto;
    background-size: 100%;
    width: 100%;
}

h1 {
    padding-left: 30px;
}

.jop {
    display: flex;
    justify-content: stretch;
    background-color: blue;
    position: fixed;
}
.body2 {
    background-color: antiquewhite;
    padding-left: 0%;
    padding-right: 0%;
}
.upeR {
    position: fixed;
    right: 10px;
    top: 90%;
}
.foto_up {
    height: 50px;
    width: 50px;
}
.py {
    display: flex;
    justify-content: center;
    align-items: center;
}
.py_f {
    width: 0px;
    height: 0px;
}
.up {
    display: flex;
    justify-content: space-around;
    font-family: "Book Antiqua";
    font-size: 25px;
}
h1 {
    font-family: "Book Antiqua";
    text-decoration: underline;
    color: darkgreen;
    font-size: 25px;
}
.foto {
    width: 220px;
    height: 230px;
    border-radius: 50%
}
.foto1 {
    display: flex;
    justify-content: center;
}
.iam {
    font-size: 20px;
    font-family: "Book Antiqua";
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 150%;
}
li {
    font-size: 25px;
    font-family: "Book Antiqua";
    line-height: 150%;
}
.bntu1 {
    display: flex;
    justify-content: flex-start;
}
.bntu2 {
    width: 0px;
    height: 0px;
}
.sert {
    height: 200px;
    width: 250px;
}
.sert2 {
    display: flex;
    align-content: flex-start;
    align-items: center;
}
.sert_text {
    font-family: "Book Antiqua";
    padding-left: 20px;
    font-size: 30px;
}
.obr {
    padding-left: 5px;
    font-family: "Book Antiqua";
    color: brown;
}
.work {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.jobs {
    color: #810ba2;
}
.work_foto {
    width: 0px;
    height: 0px;
}
.iam_work {
    font-size: 20px;
    font-family: "Book Antiqua";
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 150%;
}
.tel_foto {
    width: 50px;
    height: 50px;
}
.tel {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Book Antiqua";
    font-size: 20px;
}
span {
    padding-left: 5px;
}
a:link {
    color: #0738b6;
}
a:visited {
    color: #8c1616;
}
a:hover {
    color: #2bb026;
}
a:active {
    color: blueviolet;
}}

/*@media (min-width: 800px ) and (max-width: 1100px)*/
/*{body {*/
/*   margin: auto;*/
/*    width: 100%;*/
/*}*/
/*.jop {*/
/*    display: flex;*/
/*    justify-content: stretch;*/
/*    background-color: blue;*/
/*    position: fixed;*/
/*}*/
/*.body2 {*/
/*    background-color: antiquewhite;*/
/*    padding-left: 5%;*/
/*    padding-right: 5%;*/
/*}*/
/*.upeR {*/
/*    position: fixed;*/
/*    right: 10px;*/
/*    top: 10px;*/
/*}*/
/*.foto_up {*/
/*    height: 30px;*/
/*    width: 30px;*/
/*}*/
/*.py {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
/*.py_f {*/
/*    width: 120px;*/
/*    height: 120px;*/
/*}*/
/*.up {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    font-family: "Book Antiqua";*/
/*    font-size: 25px;*/
/*}*/
/*h1 {*/
/*    font-family: "Book Antiqua";*/
/*    text-decoration: underline;*/
/*    color: darkgreen;*/
/*    font-size: 25px;*/
/*}*/
/*.foto {*/
/*    width: 220px;*/
/*    height: 230px;*/
/*    border-radius: 50%*/
/*}*/
/*.foto1 {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/
/*.iam {*/
/*    font-size: 20px;*/
/*    font-family: "Book Antiqua";*/
/*    text-align: justify;*/
/*    padding-left: 20px;*/
/*    padding-right: 20px;*/
/*    line-height: 150%;*/
/*}*/
/*.bntu1 {*/
/*    display: flex;*/
/*    justify-content: flex-start;*/
/*}*/
/*.bntu2 {*/
/*    width: 0px;*/
/*    height: 0px;*/
/*}*/
/*.sert {*/
/*    height: 250px;*/
/*    width: 400px;*/
/*}*/
/*.sert2 {*/
/*    display: flex;*/
/*    justify-content: flex-start;*/
/*    align-items: center;*/
/*}*/
/*.sert_text {*/
/*    font-family: "Book Antiqua";*/
/*    padding-left: 70px;*/
/*    font-size: 20px;*/
/*}*/
/*.obr {*/
/*    padding-left: 40px;*/
/*    font-family: "Book Antiqua";*/
/*    color: brown;*/
/*}*/
/*.work {*/
/*    display: flex;*/
/*    justify-content: flex-start;*/
/*    align-items: center;*/
/*}*/
/*.jobs {*/
/*    color: #810ba2;*/
/*}*/
/*.work_foto {*/
/*    width: 0px;*/
/*    height: 0px;*/
/*}*/
/*.iam_work {*/
/*    font-size: 20px;*/
/*    font-family: "Book Antiqua";*/
/*    text-align: justify;*/
/*    padding-left: 20px;*/
/*    padding-right: 20px;*/
/*    line-height: 150%;*/
/*}*/
/*.tel_foto {*/
/*    width: 50px;*/
/*    height: 50px;*/
/*}*/
/*.tel {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    padding-left: 10px;*/
/*    padding-right: 10px;*/
/*    font-family: "Book Antiqua";*/
/*    font-size: 20px;*/
/*}*/
/*span {*/
/*    padding-left: 25px;*/
/*}*/
/*a:link {*/
/*    color: #0738b6;*/
/*}*/
/*a:visited {*/
/*    color: #8c1616;*/
/*}*/
/*a:hover {*/
/*    color: #2bb026;*/
/*}*/
/*a:active {*/
/*    color: blueviolet;*/
/*}}*/
@media (min-width: 1400px) and (max-width: 1440px)
{body {
   margin: auto;
    background-image: url("img/fon5.jpg");
    background-size: 100%;
    background-attachment: fixed;
    width: 80%;
}
.jop {
    display: flex;
    justify-content: stretch;
    background-color: blue;
    position: fixed;
}
.body2 {
    background-color: antiquewhite;
    padding-left: 5%;
    padding-right: 5%;
}
.upeR {
    position: fixed;
    right: 10px;
    top: 10px;
}
.foto_up {
    height: 30px;
    width: 30px;
}
.py {
    display: flex;
    justify-content: center;
    align-items: center;
}
.py_f {
    width: 150px;
    height: 150px;
}
.up {
    display: flex;
    justify-content: space-around;
    font-family: "Book Antiqua";
    font-size: 30px;
}
h1 {
    font-family: "Book Antiqua";
    text-decoration: underline;
    color: darkgreen;
}
.foto {
    width: 230px;
    height: 250px;
    border-radius: 50%
}
.foto1 {
    display: flex;
    justify-content: center;
}
.iam {
    font-size: 20px;
    font-family: "Book Antiqua";
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 150%;
}
.bntu1 {
    display: flex;
    justify-content: flex-start;
}
.bntu2 {
    width: 120px;
    height: 120px;
}
.sert {
    height: 200px;
    width: 300px;
}
.sert2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sert_text {
    font-family: "Book Antiqua";
    padding-left: 70px;
    font-size: 25px;
}
.obr {
    padding-left: 40px;
    font-family: "Book Antiqua";
    color: brown;
}
.work {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.jobs {
    color: darkblue;
}
.iam_work {
    font-size: 20px;
    font-family: "Book Antiqua";
    text-align: justify;
    padding-left: 70px;
    padding-right: 70px;
    line-height: 150%;
}
.tel_foto {
    width: 50px;
    height: 50px;
}
.tel {
    display: flex;
    align-items: center;
    padding-left: 70px;
    font-family: "Book Antiqua";
    font-size: 20px;
}
span {
    padding-left: 25px;
}
a:link {
    color: #0738b6;
}
a:visited {
    color: #8c1616;
}
a:hover {
    color: #2bb026;
}
a:active {
    color: blueviolet;
}

}