body {
   margin: auto;
    background-image: url("img/fon5.jpg");
    background-size: 100%;
    background-attachment: fixed;
    width: 65%;
}
.jop {
    display: flex;
    justify-content: stretch;
    background-color: blue;
    position: fixed;
}
.body2 {
    background-color: antiquewhite;
    padding-left: 5%;
    padding-right: 5%;
}
.upeR {
    position: fixed;
    right: 10px;
    top: 10px;
}
.foto_up {
    height: 50px;
    width: 50px;
}
.py {
    display: flex;
    justify-content: center;
    align-items: center;
}
.py_f {
    width: 350px;
    height: 350px;
}
.up {
    display: flex;
    justify-content: space-around;
    font-family: "Book Antiqua";
    font-size: 30px;
}
h1 {
    font-family: "Book Antiqua";
    text-decoration: underline;
    color: darkgreen;
}
.foto {
    width: 330px;
    height: 350px;
    border-radius: 50%
}
.foto1 {
    display: flex;
    justify-content: center;
}
.iam {
    font-size: 20px;
    font-family: "Book Antiqua";
    text-align: justify;
    padding-left: 70px;
    padding-right: 70px;
    line-height: 150%;
}
.bntu1 {
    display: flex;
    justify-content: flex-start;
}
.bntu2 {
    width: 120px;
    height: 120px;
}
.sert {
    height: 250px;
    width: 400px;
}
.sert2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sert_text {
    font-family: "Book Antiqua";
    padding-left: 70px;
    font-size: 30px;
}
.obr {
    padding-left: 40px;
    font-family: "Book Antiqua";
    color: brown;
}
.work {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.jobs {
    color: darkblue;
}
.iam_work {
    font-size: 20px;
    font-family: "Book Antiqua";
    text-align: justify;
    padding-left: 70px;
    padding-right: 70px;
    line-height: 150%;
}
.tel_foto {
    width: 50px;
    height: 50px;
}
.tel {
    display: flex;
    align-items: center;
    padding-left: 70px;
    font-family: "Book Antiqua";
    font-size: 20px;
}
span {
    padding-left: 25px;
}
a:link {
    color: #0738b6;
}
a:visited {
    color: #8c1616;
}
a:hover {
    color: #2bb026;
}
a:active {
    color: blueviolet;
}

@media (min-width: 481px) and (max-width: 1024px)
{body {
    width: auto;
    font-size: 15px;
}
.body2 {
    background-color: antiquewhite;
    padding-left: 5%;
    padding-right: 5%;
}
.upeR {
    position: fixed;
    right: 5px;
    top: 5px;
}
.foto_up {
    height: 20px;
    width: 20px;
}
.py {

}
.py_f {
    width: 100px;
    height: 100px;
}
.up {
    display: flex;
    justify-content:space-around;

    font-family: "Book Antiqua";
    font-size: 15px;
}
h1 {
    font-size: 17px;
    font-family: "Book Antiqua";
    text-decoration: underline;
    color: darkgreen;
}
.foto {
    width: 170px;
    height: 180px;
    border-radius: 50%
}
.foto1 {
    display: flex;
    justify-content: center;
}
.iam {
    font-size: 15px;
    font-family: "Book Antiqua";
    text-align: justify;
    padding-left: 70px;
    padding-right: 70px;
    line-height: 150%;
}
.bntu1 {
    display: flex;
    justify-content: flex-start;
}
.bntu2 {
    width: 0px;
    height: 0px;
}
.sert {
    height: 100px;
    width: 180px;
}
.sert2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
h2 {
    font-size: 15px;
}
.sert_text {
    font-family: "Book Antiqua";
    padding-left: 10px;
    font-size: 12px;
}
.obr {
    padding-left: 40px;
    font-family: "Book Antiqua";
    color: brown;
}
.work {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.jobs {
    color: darkblue;
}
.work_foto {
    width: 0px;
    height: 0px;
}
.iam_work {
    font-size: 15px;
    font-family: "Book Antiqua";
    text-align: justify;
    padding-left: 70px;
    padding-right: 70px;
    line-height: 150%;
}
.tel_foto {
    width: 25px;
    height: 25px;
}
.tel {
    display: flex;
    align-items: center;
    padding-left: 70px;
    font-family: "Book Antiqua";
    font-size: 15px;
}
span {
    padding-left: 25px;
}
a:link {
    color: #0738b6;
}
a:visited {
    color: #8c1616;
}
a:hover {
    color: #2bb026;
}
a:active {
    color: blueviolet;
}
}